*.bak
fp-info-cache
*.kicad_pcb-bak
*.sch-bak
.DS_Store
~*.*
doxyHtml
MCAD/Upper Instrument Panel.sldasm
MCAD/UIP FWD Bulkhead.sldprt
MCAD/Spin Panel.sldasm
MCAD/Eyebrow Warning Module.sldasm
MCAD/EWI Light Channels - Left.sldprt
MCAD/EWI Legend Plate - Left.sldprt
