Qty		Type
-----------------------------
1x		AMPCD
3x		CONTROLLER_AMPCD DDI
1x		CONTROLLER_Radar Altimeter
1x		CONTROLLER_Standby Instrument
1x		CONTROLLER_Stick
1x		CONTROLLER_Throttle
2x		DDI
1x		EYEBROW WARNING INDICATOR_LEFT
1x		EYEBROW WARNING INDICATOR_RIGHT
4x		GAUGE_Analog Instruments
2x		GAUGE_Dual Needle Instruments
1x		GAUGE_Standby Altimeter
1x		HOTAS_Analog Stick Breakout
1x		HOTAS_Hat Switch Breakout
1x		HOTAS_Throttle Inner Grip
1x		IFEI
1x		JETT STATION SELECT
1x		RWR CONTROL PANEL
1x		UFC_Function Select
1x		UFC_Main
3x		UTIL_PHOTOSWITCH
