Qty		Type
-----------------------------
1x		AMPCD
		CONTROLLER_AMPCD DDI
1x		CONTROLLER_Radar Altimeter
1x		CONTROLLER_Standby Instrument
1x		CONTROLLER_Stick
1x		CONTROLLER_Throttle
2x		DDI
2x		EYEBROW WARNING INDICATOR
1x		GAUGE_Airspeed
1x		GAUGE_Altimeter
1x		GAUGE_Vertical Velocity Indicator
1x		GAUGE_Hydraulic Pressure
1x		GAUGE_Battery
1x		IFEI
1x		JETTISON STATION SELECT
1x		RWR CONTROL PANEL
